


h1 {
	margin-bottom: 0;
	color: #30332E;
}

h2 {
	color: #999;
}

a {
	color: #508AB5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/**********************************************
 * IMIXS Styles 
 **********************************************/
#imixs-contentWrapper {
	margin: 0 auto;
	min-height: 100%;
	width: 980px;
}

#imixs-servicenav {
	clear: both;
	padding: 1px 0 1px 0;
	text-align: right;
	font-size: 11px;
	background: #FFCC00;
	border: 0px;
	margin: 0px 0 1px 0;
	border-bottom: 0px solid #FFF;
	border-top: 0px solid #FFFFFF;
	color: #FFF;
}

#imixs-servicenav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
	color: #524100;
}

#imixs-servicenav a {
	font-size: 11px;
	color: #524100;
}

/* #80887b */
#imixs-header {
	height: 80px;
	border: 0px dashed silver;
	background-color: #FFCC00;
}


#imixs-logo {
	float: left;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 15px 5px;
	height: 80px;
	width: 164px;
}

#imixs-branding {
}

.imixs-brandingtext1 {
	border: 0 none;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 0 0 5px;
	text-align: left;
}

.imixs-brandingtext2 {
	border: 0 none;
	color: #80887b;
	font-size: 24px;
	font-weight: bolder;
	line-height: 36px;
	padding: 0 0 0 5px;
	text-align: left;
}

.imixs-brandingtext3 {
	border: 0 none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	padding: 0 0 0 7px;
	text-align: right;
}

#imixs-nav {
	clear: both;
	margin: 0em 0em 0em;
	border-top: 1px solid #FFFFFF;
	background-color: #FFF;
}

#imixs-nav ul {
	list-style-type: none;
	margin: 0px 0 10px 0;
	padding: 2px 0 3px;
	background: #EEE;
}

#imixs-nav li {
	list-style: none;
	display: inline;
	margin: 0;
	color: #2D302C;
	font-weight: bold;
	font-size: 12px;
	xline-height: 21px;
	padding: 2px 25px 2px 10px;
}

#imixs-nav li:HOVER {
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

#imixs-nav li a {
	color: #2D302C;
}

#imixs-nav li a:HOVER {
	
}

#imixs-content {
	margin: 20px 10px 0px 10px;
	padding: 0em;
	border: 0px dashed silver;
}

/*** DL Definitonen ****/
#imixs-content dl {
	clear: both;
}

#imixs-content dl dt {
	float: left;
	width: 120px;
}

#imixs-content dl dd {
	float: left;
	width: 740px;
	margin-bottom: 0.7em;
}

#imixs-content dl.columns-2 {
	clear: both;
}

#imixs-content dl.columns-2 dt {
	width: 120px;
}

#imixs-content dl.columns-2 dd {
	width: 250px;
}

/* Panels */
.imixs-panel {
	margin: 10px 0 0 0;
	padding: 0em;
	border: 0px dashed silver;
}



.imixs-toggle-panel {
	margin: 10px 0 0 0;
	padding: 0em;
}

.imixs-toggle-panel h1 {
	margin: 0 0 0 0;
	padding: 0em;
}

#imixs-footer {
	clear: both;
	color: #999;
	margin: 1em 0em 0em 0em;
	padding: 0em 0em;
	text-align: right;
	border: 0px dashed silver;
	border-top: 1px solid silver;
}

#imixs-footer ul {
	list-style-type: none;
	margin: 0px;
	font-size: 11px;
	/* 0.6em */
}

#imixs-footer li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 1.5em;
}

.imixs-date {
	width: 100px !important;
	background: url(../icons/Calendar_16.png) no-repeat scroll left center
		white;
	padding-left: 20px !important;;
}

#imixs-content a {
	color: #508AB5 !important;
}


.imixsFileUpload_help {
	border-left: 2px solid #ccc;
	margin-left: 10px;
	float: left;
	padding-left: 10px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #999;
	line-height: 1.6em;
}


/* jquery-ui */
.ui-widget {
    font-size: 0.95em;
}

