/* Start Reset */

* {
	padding: 0;
	margin:0;
}

/* End Reset */ /**********************************************
 * Basis Einstellungen 
 **********************************************/
html,body,div,p,h1,h2,h3,ul,ol,span,a,table,td,form,img,li {
	font-family: arial, Helvetica, Verdana, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

input, button, textarea, td, th {
	padding: 0.1em;
	
}

body {
	padding: 1em;
	min-width: 41em;
	background-color: #FFF;
}

p {
	margin-bottom: 0.7em;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0.3em;
	margin-top: 1.3em;
	color:#f2c40c;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1.3em;
	margin-top: 0.3em;
	color:#30332E;
}



h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.2em;
	margin-top: 1.3em;
	color: #30332E;
}





a {
	color: #508AB5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/**********************************************
 * IMIXS Styles 
 **********************************************/
#imixs-contentWrapper {
	margin: 0 auto;
	min-height: 100%;
	width: 980px;
}

#imixs-servicenav {
	clear: both;
	padding: 1px 0 1px 0;
	text-align: right;
	font-size: 11px;
	background: #FFCC00;
	border: 0px;
	margin: 0px 0 1px 0;
	border-bottom: 0px solid #FFF;
	border-top: 0px solid #FFFFFF;
	color: #FFF;
}

#imixs-servicenav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
	color: #524100;
}

#imixs-servicenav a {
	font-size: 11px;
	color: #524100;
}

/* #80887b */
#imixs-header {
	clear: both;
	width: 100%;
	height: 80px;
	margin: 0em;
	padding: 0em;
	border: 0px dashed silver;
	background-color: #FFCC00;
}

#imixs-header p {
	padding: 0;
	margin: 0;
}

#imixs-logo {
	float: left;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 15px 5px;
	height: 80px;
	width: 164px;
}

#imixs-branding {
	float: left;
	padding: 12px 0 0;
	width: 800px;
}

.imixs-brandingtext1 {
	border: 0 none;
	color: #FFFFFF;
	font-size: 34px;
	font-weight: bolder;
	padding: 0 0 0 5px;
	text-align: left;
}

.imixs-brandingtext2 {
	border: 0 none;
	color: #80887b;
	font-size: 30px;
	font-weight: bolder;
	line-height: 36px;
	padding: 0 0 0 5px;
	text-align: left;
}

.imixs-brandingtext3 {
	border: 0 none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	padding: 0 0 0 7px;
	text-align: right;
}

#imixs-nav {
	clear: both;
	margin: 0em 0em 0em;
	border-top: 1px solid #FFFFFF;
	background-color: #FFF;
}

#imixs-nav ul {
	list-style-type: none;
	margin: 0px 0 10px 0;
	padding:2px 0 3px;
	
	background: #EEE;
}

#imixs-nav li {
	list-style: none;
	display: inline;
	margin: 0;
	color: #2D302C;
	font-weight: bold;
	font-size: 12px;
	xline-height: 21px;
	padding: 2px 25px 2px 10px;
}

#imixs-nav li:HOVER {
	background: #fff;
	padding-top:5px;
	padding-bottom: 5px;
}

#imixs-nav li a {
	color: #2D302C;
	
}
#imixs-nav li a:HOVER  {
}



#imixs-content {
	margin: 20px 10px 0px 10px;
	padding: 0em;
	border: 0px dashed silver;
}


/*** DL Definitonen ****/
#imixs-content dl {
	clear: both;
}

#imixs-content dl dt {
	float: left;
	width: 120px;
}

#imixs-content dl dd {
	float: left;
	width: 640px;
	margin-bottom: 0.7em; 
}

#imixs-content dl.columns-2 {
	clear: both;
}

#imixs-content dl.columns-2 dt {
	width: 120px;
}

#imixs-content dl.columns-2 dd {
	width: 250px;
}



/* Panels */
.imixs-panel {
	margin:10px 0 0 0;
	padding: 0em;
	border: 0px dashed silver;
}

.imixs-panel h1 {
	font-size: 14px;
	margin:0 0 10px 0;
	color: #30332E;
}

.imixs-toggle-panel {
	margin:10px 0 0 0;
	padding: 0em;
}

.imixs-toggle-panel h1 {
	margin:0 0 0 0;
	padding: 0em;
	
}



#imixs-footer {
	clear: both;
	color: #999;
	margin: 1em 0em 0em 0em;
	padding: 0em 0em;
	text-align: right;
	border: 0px dashed silver;
	border-top: 1px solid silver;
}

#imixs-footer ul {
	list-style-type: none;
	margin: 0px;
	font-size: 11px;
	/* 0.6em */
}

#imixs-footer li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 1.5em;
}



.imixs-date {
	width: 100px !important;
	background: url(../icons/Calendar_16.png) no-repeat scroll left center
		white;
	padding-left: 20px !important;;
}